html, body {
  margin: 0;
  height: 100%;
  background-color: #F7F9FB
}

line{
  stroke:red;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #31708E;
}
.first-ul {
  list-style: none;
  padding: 0px;
  margin: 10px;
  font-family: arial;
  color: #687864;

}
li {
    float: left;
    display: block;
    color: #687864;
    text-align: center;
    padding: 5px 10px;
    text-decoration: none;
}

